@{
    ViewData["Title"] = "Signup";
}
<h2>Signup</h2>
<form method="post">
    <input name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Signup</button>
</form>
<p style="color:red">@ViewBag.Error</p>
<a href="/Account/Login">Already have an account? Login</a>
